window {
  min-height: 26px;
}

label#ws_focused {
  color: white;
  background-color: #00000000;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.filled {
  background-color: #eeeeee;
  background-image: linear-gradient(
    90deg,
    rgba(152, 152, 152, 1) 0%,
    rgba(203, 203, 203, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  opacity: 1;
  border: none;
}

.no-background {
  background: #00000000;
  background-color: #00000000;
}

.transparent-background {
  background: #00000040;
  /*background: linear-gradient(to right, #00000040, #ffffff20);
  filter: blur(3px);*/
}

.text-button {
  border: none;
  background-color: #00000000;
  background-image: none;
  border-left-color: #00000000;
  border-right-color: #00000000;
  outline-color: #00000000;
  box-shadow: none;
}

.toggle:hover label {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.toggle:checked {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.arrow-button arrow {
  opacity: 0;
}

#stat_normal {
  color: #99c140;
}

#stat_medium {
  color: #e7b416;
}

#stat_high {
  color: #cc3232;
}

/* #calendar_menu_button { */
/*   opacity: 0; */
/* } */

#stat_menu_button {
  opacity: 0;
}

/* menubutton { */
/*   opacity: 0; */
/* } */

/* label#ws_unfocused { */
/*   color: grey; */
/* } */

/* task-row { */
/*   background-color: @success_color; */
/* } */
